.body
  .body__container1
    .circle#js-circle
    .body__container1__center
      .body__container1__center__upper
      .body__container1__center__title
        .body__container1__center__title__image
          .body__container1__center__title__image__text
            - @gifts.each do |gift|
              %p #{convert_to_jpy(gift.price)}の支援がありました
          .body__container1__center__title__image__icon
            %i.fas.fa-hands
  .body__container2
    .body__container2__theme
      Topic
    .body__container2__box
      .body__container2__box__1
        %c 本当に支援を必要としている人へ
        %br あなたから
        %a 今出来ることを
  .body__container4
    .body__container4__theme
      Hopes
    .body__container4__box
      .body__container4__box__1
        .body__container4__box__1__hide
        - @hopes.each do |hope|
          .body__container4__box__1__message
            = link_to image_tag(hope.image.url class: ""), hope_path(hope)
            %p
              = simple_format(hope.message)
            %b
              #{convert_to_jpy(hope.desired_price)}
