.footer
  .footer__upper
    .footer__upper__container1
      .footer__upper__container1__left
      .footer__upper__container1__center
        = link_to root_path do
          %i.fas.fa-undo-alt
      .footer__upper__container1__right
  .footer__lower
    .footer__lower__container2
      © 2020 Ashinaga Shien