.header
  .header2__main
    .header__main__name
      .mark
        %i.fas.fa-hands
          %i.fas.fa-heart
        あしなが支援サイト
    .header__main__box
  .header__message
    = link_to new_hope_path do
      %p +
      %i.fas.fa-rainbow
