@mixin body {
  width: 100%;
  height: 100%;
}

@mixin container980 {
  max-width: 980px;
  margin: 0 auto;
}
@mixin container300 {
  max-width: 300px;
  margin: 0 auto;
}
@mixin thema {
  letter-spacing: 0.2rem;
  margin-top: 50px;
  padding: 0 50px 50px 50px;
  text-align: center;
  font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
  font-weight: bold;
  font-size: 45px;
  @media (max-width: 800px){
    font-size: 35px;
  }
}
@mixin box_in {
  margin: 15px;
  width: 30%;
  height: 250px;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #000000;
  position: relative;
  p {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  b {
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  img {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.6s ease 0s;
  }
  img:hover {
    opacity: 20%;
  }
  @media (max-width: 900px){
    width: 300px;
    margin: 15px auto;
  }
}
@mixin skill {
  h2 {
    padding: 10px 0;
    font-size: 25px;
  }
  i {
    font-size: 50px;
    padding: 3px 0;
  }
  p {
    font-size: 20px;
  }
}
@mixin circle_image {
  img {
    width: 400px;
    height: 400px;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 200px;
    object-fit: cover;
    @media (max-width: 800px){
      width: 300px;
      height: 300px;
      border-radius: 150px;
    }
  }
}
@mixin circle_small {
  background-color: #000000;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  @media (max-width: 750px){
    width: 150px;
    height: 150px;
  }
  img {
    width: 200px;
    height: 200px;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 150px;
    object-fit: cover;
    transition: all 0.6s ease 0s;
    z-index: 10;
    @media (max-width: 750px){
      width: 150px;
      height: 150px;
    }
  }
  img:hover {
    opacity: 20%;
  }
}
@mixin btn {
  font-size: 23px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #cccccc;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}
@mixin btn_hover {
  background-color: #888888;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.body {
  width: 100%;
  height: 100%;
  @media (max-width: 800px){
    height: 100%;
  }
  &__container1 {
    position: relative;
    // width: 100%;
    // height: 100%;
    animation: bg-color 10s alternate infinite;
    -webkit-animation: bg-color 10s alternate infinite;
    @-webkit-keyframes bg-color {
      0% { background-color: #fff; }
      20% { background-color: #f1c40f; }
      40% { background-color: #1abc9c; }
      60% { background-color: #3498db; }
      80% { background-color: #9b59b6; }
      100% { background-color: #e74c3c; }
    }
    @keyframes bg-color {
      0% { background-color: #fff; }
      20% { background-color: #eee; }
      40% { background-color: #ccc; }
      60% { background-color: #aaaaaa; }
      80% { background-color: #777777; }
      100% { background-color: #555555; }
    }
    .circle {
      background-color: #000000;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
      left: 20px;
    }
    &__center {
      @include container980;
      &__upper {
        width: 100%;
        height: 40px;
        @media (max-width: 800px){
          height: 20px;
        }
      }
      &__title {
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        @media (max-width: 800px){
          display: block;
        }
        &__image {
          padding: 0 20px 30px 30px;
          @media (max-width: 800px){
            padding: 35px 20px 20px 20px;
            display: flex;
            justify-content: center;
            position: relative;
          }
          &__text {
            width: 400px;
            height: 400px;
            box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
            border-radius: 200px;
            background-color: #000000;
            animation: puyon 1.0s linear 0s 1;
            @keyframes puyon {
              0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
              40%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
              50%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
              60%  { transform: scale(0.95, 1.05) translate(0%, -3%); }
              70%  { transform: scale(1.05, 0.95) translate(0%, 3%); }
              80%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
              100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
            }
            @media (max-width: 750px){
              width: 300px;
              height: 300px;
            }
            p {
              color: #fff;
              padding: 100px 50px 50px 30px;
              text-align: center;
              font-size: 20px;
              font-family: serif bold;
              line-height: 1.5;
              @media (max-width: 800px){
                font-size: 18px;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
  &__container2 {
    @include container980;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 150px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        line-height: 2;
        width: 100%;
        text-align: center;
        @media (min-width: 800px){
          font-size: 20px;
          br {
            display: none;
          }
          a {
            display: block;
          }
        }
      }
    }
  }
  &__container3 {
    @include container980;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      text-align: center;
      height: calc(100% - 95px);
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 800px){
        display: block;
      }
      &__1 {
        @include box_in;
        @include skill;
        img {
          display: block;
          margin: 3px auto;
        }
      }
      &__2 {
        @include box_in;
        @include skill;
        i {
          display: block;
        }
        i.fab.fa-html5 {
          color: rgb(231, 92, 28);
        }
        i.fab.fa-css3-alt {
          color: rgb(21, 17, 226);
        }
        i.fab.fa-js {
          color: rgb(252, 175, 32);
        }
      }
      &__3 {
        @include box_in;
        @include skill;
        i.fas.fa-gem {
          color: rgb(228, 2, 2);
        }
        i.fab.fa-aws {
          color: rgb(241, 157, 1);
        }
      }
    }
  }
  &__container4 {
    @include container980;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 95px);
      padding-bottom: 150px;
      &__1 {
        display: flex;
        flex-wrap: wrap;
        &__message {
          @include box_in;
          transition: all 0.7s ease;
        }
        &__message:hover {
          transform: scale(1.1, 1.1);
          -webkit-transform: scale(1.1,1.1);
          -ms-transform: scale(1.1,1.1);
          box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.2);
        }
      }
      @media (max-width: 900px){
        display: block;
      }
    }
  }
  &__container5 {
    @include container980;
    @media (max-width: 800px){
      height: 100%;
    }
    &__theme {
      @include thema;
    }
    &__box {
      height: calc(100% - 150px);
      display: flex;
      flex-wrap: wrap;
      &__1 {
        width: 100%;
        text-align: center;
        font-size: 18px;
        @media (min-width: 800px){
          font-size: 22px;
          br {
            display: none;
          }
        }
      }
      &__2 {
        width: 100%;
        text-align: center;
        i {
          text-align: center;
          color: black;
          font-size: 80px;
        }
        i:hover {
          transform: scale(1.3, 1.3);
          -webkit-transform: scale(1.3,1.3);
          -ms-transform: scale(1.3,1.3);
          filter: drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
          -webkit-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
          -moz-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
          -ms-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
          transition: all 0.8s ease;
        }
      }
    }
  }
}

