body {
  box-sizing : border-box;
}
.header {
  width: 100vw;
  height: 50px;
  @media (max-width: 750px){
    height: 100%;
  }
  &__main {
    width: 100%;
    margin: 0 auto;
    padding-top:10px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 980px){
      justify-content: space-around;
    }
    @media (max-width: 750px){
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    &__name {
      letter-spacing: 0.2rem;
      padding-left: 30px;
      font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
      font-weight: bold;
      font-size: 20px;
      @media (max-width: 750px){
        padding-left: 5px;
      }
      .mark {
        margin: 0 auto;
        width: 330px;
        position: relative;
        i.fas.fa-hands::before {
          font-size: 35px;
          color: #000000;
        }
        i.fas.fa-heart::before {
          position: absolute;
          top: - 5px;
          left: 12px;
          color: #FF8C00;
          background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @media (max-width: 750px){
            position: absolute;
            top: - 5px;
            left: 40px;
          }
        }
      }
    }
    &__box {
      letter-spacing: 0.1rem;
      padding: 0 30px 0 0;
      font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
      font-size: 18px;
      position: relative;
      
      @media (max-width: 750px){
        padding: 10px;
      }
      .menu {
        align-items: flex-end;
        padding: 0 10px 0 0;
        text-decoration: none;
        color: black;
        line-height: 3rem;
      }
      .menu:hover {
        transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3,1.3);
        -ms-transform: scale(1.3,1.3);
        filter: drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        -webkit-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        -moz-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        -ms-filter:drop-shadow(5px 6px 1px rgba(0,0,0,0.2));
        transition: all 0.8s ease;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }
  .header__message {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 30px;
    right: 30px;
    position: fixed;
    font-size: 25px;
    background-color: #000000;
    border-radius: 30px;
    z-index: 10;
    a {
      text-decoration: none;
      p {
        position: relative;
        left: 5px;
        color: #fff;
      }
      i {
        position: relative;
        bottom: 25px;
        left: 20px;
        color: #FF8C00;
        background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
.header2__main {
  width: 100%;
  margin: 0 auto;
  padding-top:10px;
  @media (max-width: 750px){
    text-align: center;
  }
}