@mixin body {
  width: 100%;
  height: 100%;
}
@mixin zen {
  max-width: 980px;
  margin: 0 auto;
}
@mixin container_small {
  max-width: 300px;
  margin: 0 auto;
}
@mixin thema {
  letter-spacing: 0.2rem;
  margin-top: 50px;
  padding: 0 50px 50px 50px;
  text-align: center;
  font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
  font-weight: bold;
  font-size: 45px;
  @media (max-width: 800px){
    font-size: 35px;
  }
}
@mixin box_in {
  margin: 15px;
  width: 30%;
  height: 250px;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #000000;
  position: relative;
  p {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  b {
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  img {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.6s ease 0s;
  }
  img:hover {
    opacity: 20%;
  }
  @media (max-width: 900px){
    width: 300px;
    margin: 15px auto;
  }
}
@mixin skill {
  h2 {
    padding: 10px 0;
    font-size: 25px;
  }
  i {
    font-size: 50px;
    padding: 3px 0;
  }
  p {
    font-size: 20px;
  }
}
@mixin circle_image {
  img {
    width: 400px;
    height: 400px;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 200px;
    object-fit: cover;
    @media (max-width: 800px){
      width: 300px;
      height: 300px;
      border-radius: 150px;
    }
  }
}
@mixin circle_small {
  background-color: #000000;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  @media (max-width: 750px){
    width: 150px;
    height: 150px;
  }
  img {
    width: 200px;
    height: 200px;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 150px;
    object-fit: cover;
    transition: all 0.6s ease 0s;
    z-index: 10;
    @media (max-width: 750px){
      width: 150px;
      height: 150px;
    }
  }
  img:hover {
    opacity: 20%;
  }
}
@mixin btn {
  font-size: 23px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #cccccc;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}
@mixin btn_hover {
  background-color: #888888;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
}
@mixin image {
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  font-size: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  @media (max-width: 750px){
    font-size: 16px;
  }
  .hidden {
    display: none;
  }
}