.registration {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  @media (max-width:650px){
    height: 100%;
  }
  &__upper {
    max-width: 980px;
    height: 100px;
    margin: 0 auto;
    @media (max-width: 650px){
      display: none;
    }

  }
  &__main {
    padding:20px;
    max-width: 650px;
    align-items: center;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 25px;
    @media (max-width: 650px){
      height: 100%;
      border-radius: 3px;
      padding: 20px 0;
    }
    &__container {
      height: 100%;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 0.3rem;
      font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
      &__thema {
        position: relative;
        width: 80px;
        margin: 0 auto;
        i.fas.fa-hands::before {
          font-size: 30px;
        }
        i.fas.fa-heart::before {
          position: absolute;
          top: - 5px;
          left: 25px;
          color: #FF8C00;
          background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

        }
        a {
          position: absolute;
          right: 10px;
          text-decoration: none;
          color: #fff;
        }
      }
      &__form {
        .field {
          font-size: 20px;
          padding: 20px;
          .hidden {
            display: none;
          }
          c {
            font-size: 16px;
          }
          em {
            font-size: 16px;
          }
          i.far.fa-images {
            border: ridge 1px #fff;
            transition: all 0.3s ease;
            font-size: 35px;
            background-color: #fff;
            color: #000000;
            padding: 16px;
            border-radius: 15px;
            cursor: pointer;
          }
          i.far.fa-images:hover {
            @include btn_hover;
          }
          input {
            width: 75%;
            border-radius: 3px;
            @media (max-width: 750px){
              width: 280px;
            }
          }
          select {
            height: 33px;
            width: 75%;
            border: ridge 2px #fff;
            @media (max-width: 750px){
              width: 280px;
            }
          }
          p {
            color: red;
          }
          #message {
            color: black;
          }
          img {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            object-fit: cover;
          }
          #hope_message {
            width: 75%;
            height: 120px;
            border: ridge 2px #fff;
            @media (max-width: 750px){
              width: 280px;
            }
          }
          &__box {
            letter-spacing: 0.2rem;
            font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
            margin: 0 auto;
            @media (max-width: 750px){
              width: 100%;
              font-size: 14px;
            }
            a#select {
              padding: 7px 70px;
              @media (max-width: 750px){
                padding: 7px 5px;
              }
            }
            a#facebook {
              padding: 7px 123px;
              @media (max-width: 750px){
                padding: 7px 42px;
              }
            }
            a#google {
              padding: 7px 110px;
              @media (max-width: 750px){
                padding: 7px 36px;
              }
            }
            a#shinki {
              padding: 7px 143px;
              @media (max-width: 750px){
                padding: 9px 85px;
              }
            }
            a {
              background-color: #fff;
              padding: 7px 120px;
              text-decoration: none;
              border-radius: 3px;
              border: ridge 2px #fff;
              transition: all 0.3s ease;
              color: #000000;
              cursor: pointer;
              @media (max-width: 750px){
                padding: 7px 50px;
              }
            }
            a:hover {
              @include btn_hover;
            }
            input:hover {
              
            }
          }
        }
        .actions {
          font-size: 20px;
          padding: 20px;
          input {
            background-color: #fff;
            border-radius: 3px;
            height: 33px;
            width: 75%;
            border: ridge 2px #fff;
            transition: all 0.3s ease;
            letter-spacing: 0.3rem;
            font-family: "Noto Sans JP", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \30B4\30B7\30C3\30AF", sans-serif;
            cursor: pointer;
            @media (max-width: 750px){
              width: 280px;
            }
          }
          input:hover {
            @include btn_hover;
          }
        }
      }
    }
  }
}